@import 'globals';
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
    background-color: $primaryColor
    !important;
    color: white;
}

.App {
    text-align: center;
}

.Home {
    text-align: center;
}